<!DOCTYPE html>
<html>
  <head>
    <title>EnglishLit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="theme-color" content="#04caff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#04caff">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
