<%= render 'header' %>
<h1>Essays</h1>
  <%= link_to '<button>New essay</button>'.html_safe, new_essay_path %>
<table>
  <tr>
    <th>Title</th>
  </tr>
  <% @essays.each do |essay| %>
  <tr>
    <td><%= essay.title %></td>
    <td><%= link_to 'Show', essay_path(essay) %></td>
    <td><%= link_to 'Edit', edit_essay_path(essay) %></td>
    <td><%= link_to 'Delete', essay_path(essay), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>
